.no-scroll-bar .scroll-bar:horizontal {
    -fx-pref-height: 1px;
    -fx-min-height: 1px;
    -fx-max-height: 1px;
    -fx-opacity: 0;
    -fx-hbar-policy: NEVER;
}

.no-scroll-bar .scroll-bar:vertical {
    -fx-pref-width: 1px;
    -fx-min-width: 1px;
    -fx-max-width: 1px;
    -fx-opacity: 0;
    -fx-vbar-policy: NEVER;
}

.no-border {
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
