.heading {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.list {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.table {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.code {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.code-block {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.md-quote {
    -fx-fill: grey;
    -fx-font-weight: bold;
}
