.styled-text-area {
    -fx-font-family: ${sans-font-family};
    -fx-font-weight: ${sans-font-weight};
    -fx-font-style: ${sans-font-posture};
    -fx-font-size: ${sans-font-size};
}

.heading {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.list {
    -fx-fill: #c80000;
    -fx-font-weight: bold;
}

.table {
    -fx-fill: #0000c0;
    -fx-font-weight: bold;
}

.url {
    -fx-fill: #0000c0;
}

.code {
    -fx-font-family: ${mono-font-family};
    -fx-font-weight: ${mono-font-weight};
    -fx-font-style: ${mono-font-posture};
    -fx-font-size: ${mono-font-size};
    -fx-fill: #006000;
}

.code-block {
    -fx-font-family: ${mono-font-family};
    -fx-font-weight: ${mono-font-weight};
    -fx-font-style: ${mono-font-posture};
    -fx-font-size: ${mono-font-size};
    -fx-fill: #006000;
}

.md-quote {
    -fx-fill: #707070;
    -fx-font-weight: normal;
}

.hrule {
    -fx-fill: #707070;
    -fx-font-weight: bold;
}