.styled-text-area {
    -fx-font-family: ${mono-font-family};
    -fx-font-weight: ${mono-font-weight};
    -fx-font-style: ${mono-font-posture};
    -fx-font-size: ${mono-font-size};
}

.diagramkeyword {
    -fx-fill: #0000c0;
    -fx-font-weight: bold;
}

.directive {
    -fx-fill: indigo;
    -fx-font-weight: bold;
}

.containing {
    -fx-fill: #c80000;
    -fx-font-weight: bold;
}

.keyword {
    -fx-fill: goldenrod;
    -fx-font-weight: bold;
}

.comment {
    -fx-font-family: ${sans-font-family};
    -fx-font-weight: ${sans-font-weight};
    /*-fx-font-style: ${sans-font-posture};*/
    -fx-font-size: ${sans-font-size};
    -fx-fill: #707070;
    -fx-font-style: italic;
}

.connector {
    -fx-fill: #0000df;
    -fx-font-weight: bold;
}

.quote {
    -fx-font-family: ${sans-font-family};
    -fx-font-weight: ${sans-font-weight};
    -fx-font-style: ${sans-font-posture};
    -fx-font-size: ${sans-font-size};
    -fx-fill: #006000;
}

.activity {
    -fx-font-style: italic;
}

.swimlane {
    -fx-fill: purple;
    -fx-font-weight: bold;
}